slider-x{display:block;width:100%;height:100vh;overflow:hidden}slider-x slide-x-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:auto;height:100%;position:relative;white-space:nowrap;left:0px;top:0px}slider-x slide-x-container slide-x{position:relative;display:block;vertical-align:top;height:100%;min-width:100vw;overflow:hidden}slider-x slide-x-container slide-x>*{white-space:normal}slider-x slide-x-container slider-x-control{cursor:pointer}

/*# sourceMappingURL=ct-slider-x.css.map */