$gray:  ("1": #f2f2f2,"2": #d6d6d6, "3": #bdbdbd, "4": #525252);
$yellow: ("1": #ffc600);



$time: .2s;



$psdWidth: 1920;
$psdHeight: 950;

$psdWidthMobile: 768;
$psdHeightMobile: 1366;

@function convertToVw($n) {
  	@return $n/$psdWidth*100vw;
}

@function convertToVwM($n) {
  	@return $n/$psdWidthMobile*100vw;
}

@function convertToVmin($n) {
  	@if $psdHeight < $psdWidth {
  		@return $n/$psdHeight*100vmin;
  	}
  	@else {
  		@return $n/$psdWidth*100vmin;
  	}
}

@function convertToVminM($n) {
  	@if $psdHeightMobile < $psdWidthMobile {
  		@return $n/$psdHeightMobile*100vmin;
  	}
  	@else {
  		@return $n/$psdWidthMobile*100vmin;
  	}
}



