@import "variables";



html, body{

	&.reverse-color{
		background-color: black;
	}
}


.reverse-color{

	.drop-down-menu{
		
		&:after{
			display: none !important;
		}

		.ddm-header{
			color: white;
			
			.arrow{
				border-top-color: white;
			}
		}	

		.ddm-content{
			
			&>*{
				color: map-get($gray, '3');
				
				&:hover{
					color: map-get($yellow, '1');
				}
			}
		}
	}

	.open-drop-down-menu:hover{
	 	.drop-down-menu{
		 	.ddm-content{
				background-color: transparent;
			}
		}
	}
}





header.reverse-color{
		
	&:before{
		border-color: white;
	}

	.nav-menu{
		
		.nm-item{
	        border-color: map-get($gray, '4');
	        
	        &:before,
	        &:after{
	        	background-color: map-get($gray, '4');
	        }

	        &.def-active{
	        	border-top-color: map-get($yellow, '1');
	        }

	        &.def-pre-active{
	        	border-top-color: white;
	        }

	        &.active{
	        	border-top-color: map-get($yellow, '1') !important;
	        }

	        &.pre-active{
	        	border-top-color: white !important;
	        }

	        &.post-active{
	        	border-top-color: map-get($gray, '4');;
	        }
		}
	}

	.line-menu{
		background-color: white !important;

		.lm-background{
			background-color: map-get($gray, '4');
			height: convertToVw(5);
			width: 100%;

			.lm-indicator{
				background-color: white;
			}
		}
	}
}


footer.reverse-color{

	.social-icon{
		filter: invert(1);
	}
}


.mc{
	.mc-item{
		&.reverse-color{
			color: white;
			
			.mc-btn-next,
			.mc-btn-prev{
				
				&:before{
					filter: invert(1);
				}
				
				&:after{
					filter: url('#yellow') !important;
				}

				[class*="arrow"]{
					filter: invert(1);
				}
			}
		}
	}
}