slider-x{
	display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
	
	slide-x-container{
		display: flex;
	    width: auto;
	    height: 100%;
	    position: relative;
	    white-space: nowrap;
	    left: 0px;
	    top: 0px;

		slide-x{
			position: relative;
			display: block;
			vertical-align: top;
			height: 100%;
			min-width: 100vw;
			overflow: hidden;
    
			&>*{
				white-space: normal;
			}
		}

		slider-x-control{
			cursor: pointer;
		}
	} 
} 
