@import "variables";




@media(min-width: 769px){

	.mob-pop-up{
		display: none;
	}

	.mc-blog{
		.mob-pop-up{
			display: block;
		}
	}

}




@media(max-width: 768px){

/*    ------------------ MOST USED ------------------    */

	.desctop-v{
		display: none !important;
	}

/*--------------------------------------------------------------------------------------------------------------------*/











/*    ------------------ BASE ------------------    */

html, body{
	margin: 0px;
	padding: 0px;
	font-size: convertToVmin(16);
	font-family: "Gilroy";

	&.reverse-color{
		background-color: black;
	}
}

h1{
	font-family: "Gilroy-Extra-Bold";
	text-transform: uppercase;
	font-size: convertToVmin(72);
}

h2{
	font-family: "Gilroy-Extra-Bold";
	text-transform: uppercase;
	font-size: convertToVmin(54);
	color: map-get($yellow, '1');
}

p{
	font-size: convertToVmin(24);
	line-height: convertToVmin(33);
}

/*--------------------------------------------------------------------------------------------------------------------*/











/*    --------- FLEX MARGIN PADDING HEIGHT ---------    */

.m-column-reverse{
    flex-direction: column-reverse;
}

@for $i from 1 to 11{
    .m-flex-#{$i}{
        flex: $i !important;
    }
}

.m-jc-center{
    justify-content: center;
}
.m-ai-center{
    align-items: center;
}
.m-ai-bottom{
    align-items: flex-end;
}

.m-column{
    flex-direction: column;
}



.m-padding-b-50{
	padding-bottom: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------*/










/*    ------------------ HEADER ------------------    */

header{
	
	&:before{
		height: 10px;
		border: 0px solid black;
        border-top-width: 10px;
	}

	.logo{
		margin-left: 50px;
		background-size: auto 100px;
		height: 160px;
		position: relative;
		left: 0px;
		transition: left $time;
		
		&.open{
			left: -250px;
		}

	}

	.nav-menu{
		display: block;
		top: 0px;
		height: auto !important;
		margin-right: 0px;
		padding-right: 50px;
		padding-top: 150px;
		left: 250px;
		transition: left $time;
		height: 100vh !important;

		&.open{
			left: 0px !important;
		}

		.nm-item{
			position: relative;
			padding-top: convertToVw(60);
			width: 200px;
			display: block !important;
			text-align: right;
	        border: none;
	        font-size: 24px;
	        padding-top: 80px;
	        
	        .arrow{
	        	display: none;
	        }

	        & > .drop-down-menu > .ddm-header{
	        	position: relative;

	        	&:after{
	        		content: '';
	        		display: block;
	        		position: absolute;
	        		right: -50px;
	        		top: -20px;
	        		height: 50px;
	        		border: 9px solid transparent;
	        		border-right-width: 15px;
	        		border-right-color: black;
	        	}

	        	&.nm-item-main.active{
					&:after{
		        		border-right-color: map-get($yellow, '1') !important;
		        	}
	        	}
	        }

	        .ddm-content{
	        	visibility: visible !important;
	        	height: auto;
	        	opacity: 1;
	        	padding-right: 0px;
	        	padding-top: 0px;

	        	&>*{
	        		text-shadow: none !important;
	        		padding-top: 30px;
	        		height: auto;
	        		
	        		&.active{
						color: map-get($yellow, '1') !important;
					}

	        		&:hover{

	        			&:after{
	        				display: none;
	        			}
	        		}
	        	}
	        }

	        &:before,
	        &:after{
	        	display: none;
	        }
		}
	}

	.m-line-menu{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 10px;
		transition: background-color $time;
		background-color: black;
		box-sizing: border-box;
		z-index: 3;
		
		&.open{
			.m-lm-indicator{
				right: 0px !important;
			}
		}

		.m-lm-indicator{
			position: absolute;
			right: -250px;
			width: 415px;
			height: 100%;
			transition: right $time;
			background-color: map-get($yellow, '1');
			
			
			
			&:before{
				content: '';
				height: 100%;
				width: 8px;
				background-color: map-get($gray, '4');
				position: absolute;
    			left: -8px;
			}
		}
	}

	.m-menu-btn{
		width: 60px;
		height: 40px;
		display: flex;;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		right: 50px;
		top: 60px;
		z-index: 3;

		&>div{
			transition: width $time/2 $time/2, width $time, transform $time/2;
			height: 8px;
			width: 100%;
			background-color: black;
	        transform-origin: 53px 4px;
	        transform: rotate(0deg);
	        position: relative;
	        opacity: 1;

			&:nth-child(1){
				width: 63%;
				margin-left: auto;
			}
			&:nth-child(2){
				width: 60px;
				margin-left: auto;
			}
			&:nth-child(3){
				width: 53%;
				margin-left: auto;
			}
		}

		&.open{
			&>div{
				transition: width $time/2, width $time, transform $time/2 $time/2 !important;
				
				&:nth-child(1){
					width: 100%;
					transform: rotate(-45deg);
				}
				&:nth-child(2){
					width: 0px;
				}
				&:nth-child(3){
					width: 100%;
					transform: rotate(45deg);
				}
			}
		}
	}

	&.reverse-color{
		
		.nm-item > .drop-down-menu > .ddm-header{
        	&:after{
        		border-right-color: white;
        	}
        }

        .m-menu-btn{
			
			&>div{
				background-color: white;
			}
		}

		.m-line-menu{
			background-color: white;
		}
	}


}
/*--------------------------------------------------------------------------------------------------------------------*/











/*    ------------------ HEXAGON ------------------    */


.hexagon-lg{
	position: relative;
	width: 262px;
	height: 282px;
}


.hexagon-container{
	
	&.services{
		padding-left: 0px !important;
	}

	&.blog{
    	width: calc(100vw + 50px);
        flex-wrap: nowrap !important;
        height: 530px;
    	top: calc(50% - 270px);
    	position: relative;
    	left: -50px;
    	padding-left: 0px;
    	overflow-x: auto;
    	
    	.text{
    		font-size: 20px;
	        box-sizing: border-box;
	        padding: 0px 30px;
    	}
	}

	&>div{
		height: 243.35px;
		
		&:nth-child(even){
			left: 138.78px;
		}
	}

	.hexagon-label{
   		font-size: 24px;
   		line-height: 30px;
        box-sizing: border-box;
        padding: 120px 46px 0 46px;
   	}

   	&>.row{
		height: 230.35px;
		width: 266px;
		
		&:nth-child(1){
			margin-right: 100%;
			margin-left: 130.78px;
		}

		&:nth-child(3){
			margin-right: 0px;
		}

		&:nth-child(5){
			margin-left: 130.78px;
		}
	}

	.item{
		min-width: 524px;
		
		&:nth-child(even){
			left: 0px;
		}
		
		&:nth-child(2){
    	    min-width: 262px;
        	
        	&>div:nth-child(2){
				left: -130.78px;
				top: -56px;
			}

			&>div:nth-child(3){
				left: 130.78px;
				top: -338px;
			}
        }

        &:nth-child(3){
    	    padding-right: 50px;
        }
		
		&>div:nth-child(3){
			left: convertToVw(138.78);
			position: relative;
			top: convertToVw(-60);
		}

		.hexagon-lg{
			
			&:nth-child(1){

			}

			&:nth-child(2){
			}

			&:nth-child(3){
				left: 130.78px;
				top: -56px;
			}
		}
	}
}

.pop-up{
	
	.pop-up-open{
		top: 88px;
		right: 32px;
	    display: block;
	    height: 33px;
	    width: 33px;
	    background-size: 100% auto;
    	background-position: center;
		background-image: url('/svg/main.svg#svgView(viewBox(0,3072,512,512))');
		transform: rotate(0deg);
		transition: transform $time*1.5 ease-in-out;
	}
	

	.pop-up-content{
		display: none;
	}

	&.open{
		display: none;
	}
}

.mob-pop-up{
	visibility: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 50%;
	height: 0px;
	width: 0px;
	overflow: hidden;
	transition: height $time, width $time, top $time $time, left $time $time, visibility $time $time;
	box-shadow: 0px 0px 35px 10px rgba(0,0,0,.15);
	
	&.open{
		transition: height $time, width $time, top $time, left $time , visibility $time;
		visibility: visible !important;
		width: 90vw !important;
		height: 70vh !important;
		left: 5vw !important;
		top: 12vh !important;
	}

	.pop-up{
		display: block;
		position: relative !important;
	}

	.pop-up-content{
		display: block !important;
		position: static !important;
		width: 100%;
		height: 100%;
		top: 0px;
		right: 0px;
		padding: 180px 160px 0px 85px;
		font-size: 24px !important;
		line-height: 27px !important;
	}

	.pop-up-open{
		height: 51px;
		width: 51px;
		z-index: 2;
	}
	
	.m-pp-content{
		width: 90vw;
		min-width: 90vw;
		height: 70vh;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
	}
}

/*--------------------------------------------------------------------------------------------------------------------*/










/*    ------------------ MAIN CONTAINER ------------------    */

.mc{
	.mc-item{
		padding-top: convertToVw(400);
		padding-bottom: convertToVmin(220);
		
		&.open{
			.mc-image-fixed{
				left: 150px;
			}

			// .mc-blog{
		 //    	&:after{
			// 	    box-shadow: inset -40px 0px 30px -15px white;
		 //    	}
			// }
		}

		// .mc-blog{
		// 	position: relative;
    	
	 //    	&:after{
	 //    		content: '';
		// 	    width: 30px;
		// 	    height: 530px;
		// 	    position: absolute;
		// 	    top: calc(50% - 270px);
		// 	    right: -1px;
		// 	    padding-left: 0px;
		// 	    overflow-x: auto;
		// 	    box-shadow: inset 0px 0px 0px 0px white;
		// 	    transition: box-shadow $time;
	 //    	}
		// }

		.mc-image-fixed{
			left: 0px;
			transition: left $time;
			width: calc(100% + 250px);
			background-position: inherit;
		}
		
		.mc-content{
			padding-left: 50px;
			padding-right: 50px;
		}

		.mc-contacts{
			top: convertToVmin(200);
		}

		.phone-number{
			font-size: 18px;
			line-height: 50px;
			padding-left: 65px;
			
			&:before{
				left: 0px;
				top: -6px;
			}
		}

		.web-site{
			margin-top: 30px !important;
			font-size: 18px;
			padding-left: 65px;
			line-height: 50px;
			
			&:before{
				left: 0px;
				top: -6px;
			}
		}

		.email{
		    margin-bottom: 5vw;
		    margin-top: 3.5vw;
			white-space: normal;
			line-height: normal;
			
			span:last-child{
				display: block;
			}
		}
	
		.phone-number{
			font-size: convertToVmin(24);
		}

		.address{
			padding-left: convertToVmin(65);
			font-size: convertToVmin(24);

			&:before{
				left: 0px;
			}

			&:hover ~ .map{
				height: convertToVw(1000);
				bottom: - convertToVw(1000);
				z-index: 2;
			}
		}

		.start-image{
        	background-image: url('/img/m-start.jpg');
        }

		[class*="mc-btn"]{
			margin-right: 50px;
			right: 0px;
			bottom: 48px;
			height: 100px;
			width: 100px;
			position: absolute;


            [class*="arrow"]{
            	height: 40px;
            	width: 40px;
			}
		}

		.pop-up-contact{

			&.open{
				display: block;
				width: 94vw;
			}

			top: 50px;
			right: -50px;
			
			h2{
			    margin-bottom: 5vw;
			}
			
			.pop-up-open{
				height: 116px;
				width: 116px;
				right: 50px;
				top: 70px;
			}

			.pop-up-content{
				right: 3vw;
				height: 780px;
				width: 100%;
				padding-top: 280px;
				padding-left: 60px;
				padding-right: 60px;
			}

			.form-group{
				padding-bottom: 45px;
			}

			.pc-input{
				border-bottom: 6px solid map-get($gray, '1');
				padding: 25px 0px 25px 50px;
    			box-sizing: border-box;
				font-size: 24px;
				width: 100%;
			}

			.container-pc-btn{
				bottom: 69px;
				padding-right: 60px;
			}

			.pc-btn{
				font-size: 82px;
			}
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------------*//*--------------------------------------------------------------------------------------------------------------------*/










/*    ------------------ FOOTER ------------------    */

footer{
	position: relative !important;
	bottom: 148px;
	margin-left: 50px;	
	height: 0px;
	
	.footer-icons{
		width: 50vw;
		
		&>a{
			height: 100px;
			width: 100px;
		}

		.social-icon{
			height: 30px;
		}

		.vk-icon{
			height: 23px;
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------------*/

}